{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p>
        Hello! I’m a computer engineering graduate based in Istanbul, Turkey.
        After taking a break from the tech industry,
        I made a dedicated return to software development
        with a strong focus on web and backend technologies.
    </p>
    <p>
        To solidify my backend skills,
        I’ve completed in-depth tutorials such as Miguel Grinberg’s Flask Mega-Tutorial
         and MDN’s Local Library Django project.
    </p>
    <p>
        Some of my recent portfolio projects include:
    </p>

        <p>TodoMeter – A productivity app with a built-in chronometer to track task focus sessions.</p>

        <p>Book Tracker Society – A social network-style app where users can track their reading habits, follow each other, and share book-related progress and notes. It blends habit tracking with simple social features.</p>

        <p>Flask Microblog (inspired by Miguel Grinberg’s tutorial) – A full-featured blogging app with user authentication and pagination.</p>

        <p>MDN Local Library Clone – A backend-focused Django app for managing books, authors, and borrowing records, following best practices in URL routing, templates, and models.</p>
    </p>
    <p>
        Currently, I’m expanding into Java Spring Boot development to broaden my backend capabilities and improve job flexibility.
    </p>
    <p>
        I’m looking for backend or fullstack developer roles where I can grow, contribute, and work on meaningful products. I enjoy solving real-world problems with clean, maintainable code and collaborating with others to learn and build impactful tools.
    </p>
    <p>
        Let’s connect!
    </p>
</main>
{% endblock %}